<!DOCTYPE html>
  <head>
    <title>index</title>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="index.js"></script>
  </head>
  <body>
      <p>test</p>
  </body>
</html>