<!DOCTYPE html>
<head>
  <title>index</title>
  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico" />
  <link rel="stylesheet" href="main.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="index.js"></script>
  <script src="auth-client.js"></script>
  <script src="apiCalls.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><button class="waves-effect waves-light btn modal-trigger" href="#myModal" type="submit">Log in</button></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">nav 1</a></li>
        <li><a href="#">nav 2</a></li>
        <li><a href="#">nav 3</a></li>
      </ul>
    </div>
  </nav>

  <main id="main-content">
    <button onclick=addCard()>add a card</button>
    <!-- main content here -->
    <div id="myModal" class="modal">
      <div id="modal_Wrapper">
          <div class="row">
            <label for="user">User Name</label>
            <input name="user" id="user_name" type="text" class="validate">
          </div>
          <div class="row">
            <label for="password">Password</label>
            <input id="password" type="password" class="validate">
          </div>
          <button onclick=login() class="waves-effect btn modal-close">Submit</button>
      </div>
  </main>
  <!-- Side bar content -->
  <div id="sidebar-content">
    <p id="nameContent"></p>
    <form action="#">
      <div id="rangeFields">

      </div>
    </form>
  </div>
</body>

<!-- Templates -->
<template>
  <div id="card" class="row productListing">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"></span>
          <ul class="main-card-content" id="dataWrap">
          </ul>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</template>
